<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <title layout:fragment="title">Посылки</title>
</head>
<main layout:fragment="content">
    <a href="/admin" class="btn btn-primary mb-4">Админ Панель</a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Номер</th>
            <th>Магазин</th>
            <th>Пользователь</th>
            <th>Статус</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${parcels}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.number}"></td>
            <td th:text="${p.storeName}"></td>
            <td th:text="${p.userEmail}"></td>
            <td th:text="${p.status}"></td>
            <td th:text="${p.data}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Пагинация -->
    <div class="d-flex justify-content-center">
        <ul class="pagination" th:if="${totalPages > 1}">
            <!-- Кнопка "Назад" -->
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/parcels(page=${currentPage > 0 ? currentPage - 1 : 0}, size=${size})}" aria-label="Предыдущая страница">
                    <i class="bi bi-chevron-left"></i>
                </a>
            </li>

            <!-- Номера страниц -->
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/admin/parcels(page=${i}, size=${size})}" th:text="${i + 1}" aria-label="Страница ${i + 1}"></a>
            </li>

            <!-- Кнопка "Вперёд" -->
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/parcels(page=${currentPage + 1 < totalPages ? currentPage + 1 : totalPages - 1}, size=${size})}" aria-label="Следующая страница">
                    <i class="bi bi-chevron-right"></i>
                </a>
            </li>
        </ul>
    </div>
</main>
</html>
