<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <title layout:fragment="title">Telegram</title>
</head>
<div layout:fragment="afterHeader">
    <div th:replace="~{partials/breadcrumbs :: breadcrumbs(items=${breadcrumbs})}"></div>
</div>

<main layout:fragment="content">

    <div class="row mb-4">
        <div class="col-md-6">
            <div th:replace="~{partials/card :: card(~{this.content}, 'custom-card')}">
                <div th:fragment="content">
                <div class="card-body">
                    <h5 class="card-title text-center">Покупателей с Telegram</h5>
                    <p class="card-text text-center" th:text="${boundCustomers}"></p>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div th:replace="~{partials/card :: card(~{this.content}, 'custom-card')}">
                <div th:fragment="content">
                <div class="card-body">
                    <h5 class="card-title text-center">Магазинов с напоминаниями</h5>
                    <p class="card-text text-center" th:text="${remindersEnabled}"></p>
                </div>
                </div>
            </div>
        </div>
    </div>

    <h4>Последние уведомления</h4>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Телефон</th>
            <th>Трек</th>
            <th>Тип</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log : ${logs}">
            <td th:text="${log.customer.phone}"></td>
            <td th:text="${log.parcel.number}"></td>
            <td th:text="${log.notificationType}"></td>
            <td th:text="${#dates.format(log.sentAt,'dd.MM.yyyy HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</main>
</html>
