<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title layout:fragment="title">Список пользователей</title>
</head>

<div layout:fragment="afterHeader">
    <div th:replace="~{partials/breadcrumbs :: breadcrumbs(items=${breadcrumbs})}"></div>
</div>

<main layout:fragment="content">

<div class="container mt-4">
    <h1 class="mb-4">Список пользователей</h1>

    <a th:href="@{/admin/users/new}" class="btn btn-primary mb-4">Добавить пользователя</a>

    <form method="get" th:action="@{/admin/users}" class="row row-cols-lg-auto g-2 mb-3">
        <div class="col-12">
            <input type="text" class="form-control" name="search" placeholder="Поиск по email" th:value="${search}">
        </div>
        <div class="col-12">
            <select class="form-select" name="role">
                <option value="">Все роли</option>
                <option th:each="r : ${roles}" th:value="${r}" th:text="${r}" th:selected="${selectedRole == r}"></option>
            </select>
        </div>
        <div class="col-12">
            <select class="form-select" name="subscription">
                <option value="">Все подписки</option>
                <option th:each="p : ${plans}" th:value="${p.name}" th:text="${p.name}" th:selected="${selectedSubscription == p.name}"></option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-secondary">Найти</button>
        </div>
    </form>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Роли</th>
            <th>Подписка</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.subscriptionPlanName}"></td>
            <td>
                <a th:href="@{/admin/users/{usersId}(usersId=${user.id})}" class="btn btn-info btn-sm">Подробнее</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</main>

</html>