<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title layout:fragment="title">Главная</title>
</head>

<body>

<div layout:fragment="header"
     th:replace="~{partials/header-app :: header}">
</div>

<main layout:fragment="content">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-12">

                <div class="d-flex justify-content-center align-items-center mb-4 gap-2">
                <!-- Заголовок страницы -->
                <h1 class="mb-1">Отслеживание посылок</h1>
                </div>

                <!-- Ошибки -->
                <div th:if="${customError}" class="alert alert-danger mb-4">
                    <p th:text="${customError}" class="mb-0"></p>
                </div>
                <div th:if="${generalError}" class="alert alert-danger mb-4">
                    <p th:text="${generalError}" class="mb-0"></p>
                </div>
                <div th:if="${successMessage}" class="alert alert-success mb-4">
                    <p th:text="${successMessage}" class="mb-0"></p>
                </div>
                <div id="progressContainer" class="w-100 d-none mb-3"></div>

                <!-- Форма поиска посылки и загрузка файла -->
                <div class="card shadow-sm p-4 rounded-4">
                    <form th:action="@{/app}" method="post" class="w-100 mb-4">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                        <!-- Блок выбора магазина, если их больше одного -->
                        <div th:if="${stores != null and #lists.size(stores) > 1}" class="mb-3">
                            <div class="d-flex align-items-center">
                                <label for="storeSelect" class="me-2 mb-0">Магазин:</label>
                                <select name="storeId" id="storeSelect" class="form-select" style="width: auto; min-width: 150px;">
                                    <option th:each="store : ${stores}"
                                            th:value="${store.id}"
                                            th:text="${store.name}"
                                            th:selected="${store.isDefault}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- Поле ввода номера посылки -->
                        <label for="number" class="form-label fw-semibold">
                            Введите номер посылки:
                            <i class="bi bi-info-circle text-primary" data-bs-toggle="tooltip"
                               data-bs-placement="right" title="Белпочта, Европочта"></i>
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" id="number" name="number" class="form-control" placeholder="Номер посылки" required>
                            <button type="submit" class="btn btn-outline-primary btn-equal">Проверить</button>
                        </div>

                        <!-- Переключатель для отображения поля телефона -->
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="togglePhone">
                            <label class="form-check-label" for="togglePhone">Указать телефон покупателя</label>
                        </div>

                        <!-- Блок поля ввода телефона -->
                        <div id="phoneField" class="mb-3 hidden">
                            <label for="phone" class="form-label fw-semibold">Номер телефона покупателя:</label>
                            <div class="input-group">
                                <input type="text" id="phone" name="phone" class="form-control" placeholder="375XXXXXXXXX">
                            </div>
                        </div>
                    </form>

                    <hr class="my-3">

                    <form th:action="@{/app/upload}" method="post" enctype="multipart/form-data" class="w-100">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                        <!-- Оборачиваем метку и ссылку в flex-контейнер для равномерного распределения -->
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <label for="file" class="form-label fw-semibold mb-0">
                                Выберите файл:
                                <i class="bi bi-info-circle text-primary" data-bs-toggle="tooltip"
                                   data-bs-placement="right" title="Поддерживаются форматы: .xls, .xlsx"></i>
                            </label>
                            <!-- Ссылка-образец, оформленная как текстовая кнопка -->
                            <a th:href="@{/app/download-sample}" class="text-secondary link-hover">Образец</a>
                        </div>

                        <div class="input-group">
                            <input type="file" id="file" name="file" class="form-control" accept=".xls,.xlsx" required>
                            <button type="submit" class="btn btn-outline-primary btn-equal">Загрузить</button>
                        </div>
                    </form>

                </div>

                <!-- Информация о посылке -->
                <div th:if="${trackInfo}" class="card shadow-sm p-4 rounded-4 mb-4">
                    <h4 class="text-center">Информация о посылке</h4>
                    <p class="text-center">Номер: <span th:text="${number}" class="fw-bold"></span></p>
                    <div class="table-responsive">
                        <table class="table mt-3 table-striped">
                            <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Статус</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${trackInfo.getList()}">
                                <td th:text="${item.timex}"></td>
                                <td th:text="${item.infoTrack}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Результаты загрузки -->
                <div th:if="${trackingResults}" class="card shadow-sm p-4 rounded-4">
                    <h4 class="text-center">Последние обновления</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Номер посылки</th>
                                <th>Статус</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="result : ${trackingResults}">
                                <td th:text="${result.trackingNumber}" class="fw-bold"></td>
                                <td th:text="${result.status}" class="fw-semibold"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Вывод сообщения о лимите -->
                    <div th:if="${limitExceededMessage != null and not #strings.isEmpty(limitExceededMessage)}"
                         class="limit-warning">
                        <strong th:text="${limitExceededMessage}"></strong>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<div layout:fragment="afterFooter">
</div>
</body>
</html>
