<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <title layout:fragment="title">Возможности</title>
</head>

<div layout:fragment="header"
     th:replace="~{partials/header-marketing :: header}">
</div>

<main layout:fragment="content" class="container mt-4">
    <!-- Заголовок страницы с описанием возможностей сервиса -->
    <h1 class="page-title text-center">Наши возможности</h1>
    <p class="text-center">Страница в разработке.</p>
</main>
</html>
