<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <title layout:fragment="title">Belivery</title>
</head>

<div layout:fragment="header"
     th:replace="~{partials/header-marketing :: header}">
</div>

<main layout:fragment="content" class="container mt-4">
    <h1 class="text-center">Belivery</h1>
    <p class="text-center">Добро пожаловать в систему отслеживания посылок.</p>
</main>
</html>
