<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Подтверждение регистрации</title>
</head>
<body class="email-container">
<div class="container">
    <div class="header">
        <img src="https://belivery/images/Logo.png" alt="Belivery">
        <h1>Подтверждение регистрации</h1>
    </div>
    <div class="content">
        <p>Здравствуйте!</p>
        <p>Вы получили это письмо, потому что ваш email был использован для регистрации.</p>
        <p>Ваш код подтверждения:</p>
        <div class="confirmation-code" th:text="${confirmationCode}"></div>
        <p>Если вы не регистрировались, проигнорируйте это письмо.</p>
    </div>
    <div class="footer">
        <p>С уважением,<br>Команда Belivery</p>
    </div>
</div>
</body>
</html>
