<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Восстановление пароля</title>
</head>
<body class="email-container">
<div class="container">
    <div class="header">
        <img src="https://belivery/images/Logo.png" alt="Belivery">
        <h1>Восстановление пароля</h1>
    </div>
    <div class="content">
        <p>Здравствуйте!</p>
        <p>Вы запросили восстановление пароля. Нажмите на кнопку ниже:</p>
        <a th:href="${resetLink}" class="reset-link">Сбросить пароль</a>
        <p>Если вы не запрашивали восстановление, проигнорируйте это письмо.</p>
    </div>
    <div class="footer">
        <p>С уважением,<br>Команда Belivery</p>
    </div>
</div>
</body>
</html>