@use '../ui' as ui;

button {
  @include ui.transition;

  &:hover {
    transform: scale(1.05);
  }
}

.btn-equal {
  width: 150px;
  flex-shrink: 0;

  @include ui.respond-to(sm) {
    width: 100%;
  }
}