@use '../ui' as ui;

@mixin card-style {
  background: ui.$white;
  border-radius: 10px;
  @include ui.box-shadow(0, 4px, 8px);
  padding: 20px;
}

.card {
  @include card-style;
}

.table-container {
  @include card-style;
}

.price-placeholder {
  visibility: hidden;
}