@use '../abstracts/_variables.scss' as vars;
@use '../abstracts/_mixins.scss' as mixins;
@use '../ui' as ui;

.auth-form {
  width: 100%;
  max-width: 400px;
  background: vars.$white;
  border-radius: ui.$border-radius;
}

.form-signin {
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.form-floating {
  position: relative;

  input {
    padding-right: 3rem;
  }

  i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
  }
}

.password-input {
  padding-right: 3.5rem !important;
  height: 40px;
  line-height: normal;
  border-radius: ui.$border-radius;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  color: vars.$secondary;
  background: none;

  i {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
  }

  &:hover {
    color: vars.$dark;
  }
}

.input-group {
  @include mixins.box-shadow(0px, 2px, 5px);
  border-radius: ui.$border-radius;

  input {
    border-radius: ui.$border-radius 0 0 ui.$border-radius;
  }

  .btn {
    border-radius: 0 ui.$border-radius ui.$border-radius 0;
  }
}